# Auto detect text files and perform LF normalization
* text=auto
JakiToKat/.vs/*
JakiToKat/JakiToKat/bin/*
JakiToKat/JakiToKat/obj/*

Kalkulator/.vs/*
Kalkulator/Kalkulator/bin/*
Kalkulator/Kalkulator/obj/*

PlikTekstowy/.vs/*
PlikTekstowy/x64/*
PlikTekstowy/Plik tekstowy/x64/*
